---
layout: default
---

<div class="projects">
  {{ content }}

  {%- if site.projects.size > 0 -%}
    <ul class="project-list">
      {%- for project in site.projects -%}
      <li>
        <h3>
          <a class="project-link" href="{{ project.url | relative_url }}">
            {% if project.app_icon %}
              <img
                class="project-list-icon"
                src='{{ project.app_icon | relative_url }}'
                alt="{{ project.title | escape }} app icon"
              />
            {% endif %}
            <span>{{ project.title | escape }}</span>
          </a>
        </h3>
        {%- if project.excerpt -%}
          {{ project.excerpt }}
        {%- endif -%}

        <a class="btn" href="{{ project.url | relative_url }}">
          View Project
        </a>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>